.gagarin__button {
  text-transform: uppercase;
  background: #1fad64;
  border: 3px solid #fff;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 1px;
  display: inline-block;
}

.gagarin__button_stop {
  text-transform: uppercase;
  background: #ff0019;
  border: 3px solid #fff;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 1px;
}