.app {
  background: url('../img/bg3.jpg') center no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-areas: 
                      "header"
                      "main"
                      "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 340px auto;
}